ETH_RPC_URL=https://mainnet.infura.io/v3/YOUR_PROJECT_ID
PRIVATE_KEY=<Your Wallet Private Key>
DYNAMO_TOKEN_ADDRESS=0xBfFAF03F35D75417091f0f42de3EC6809ffA51eB
AGENT_FACTORY_CONTRACT=0xYourAgentFactoryContractAddress
AGENT_TOKEN_NAME=TestAgentToken
AGENT_TOKEN_SYMBOL=TAT
